.slide {
    height: 500px;
    text-align: center;
    font-size: 24px;
    margin: 20px;
    background-color: lightcoral;
}


.circle {
    border-radius: 100%;
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    transition-property: transform;
    transition-duration: 200ms;
}

#circle1 {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#circle2 {
    width: 300px;
    height: 300px;
    margin-left: 80%;
}

#circle3 {
    width: 300px;
    height: 300px;
    margin-left: 20%;
}

#circle4 {
    width: 250px;
    height: 250px;
    margin-left: 50%;
}

#circle5 {
    width: 130px;
    height: 130px;
    margin-right: 20%;
}

#circle6 {
    width: 300px;
    height: 300px;
    margin-left: 70%;
}

#circle7 {
    width: 200px;
    height: 200px;
    margin-right: 20%;
}

#circle8 {
    width: 100px;
    height: 100px;
    margin-left: 80%;
}
